body{
    background-color: #44a084;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: #910813;
    margin-top: 50px;
}
.tabla{
    margin: 3em;
    border: solid white;

}
.tabla td{
    border: solid white;
}
.tabla th{
    border: solid white;
}

p{
    text-indent: 2em;
}
h2{
    text-indent: 4em;
}
.yupi{
    margin-left: 40%;
}
.captura{
    width: 50%;
    height: 50%;
    margin-left: 5em;
}
.tableta{
    border: solid red;
    margin-left: 11%;
}
.tableta td{
    border:solid fuchsia;
}
.tableta th{
    border: solid fuchsia;
}
.botoncito{
    border: none;
    border-radius: 15px;
    background-color: rgba(206, 106, 106, 0.507);
}
