body{
    background-color:slategray;
    position: absolute;
    font-size:19px;
    font-family:'Comic Sans MS';
}
main{
    display: inline-block;
    width: 55%;
    height: 100%;
   position: relative;
   left: 20%;
   right: 20%;
    margin-bottom: 1cm;
    padding-left: 3em;
}
header{
   
    text-align: center;  
}
h1{
    
    border: solid 2px;
    color: darkorange;
    text-shadow: 1px 1px;
}
h2{
    text-align:center;
    font-size: larger;
}
.navega{
    margin-top: 2em;
    margin-left: 3em;
    
}
li.navega{
    display: inline;
    margin-left: 2em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: large;
    background-color: aquamarine;
}
p{
    text-indent: 1em;
    text-align:justify;
}
.lateral{
  display: inline-block;
  position: fixed;
  top: 0px;
  left: 0;
  width: 20%;
  height:100%;
  padding-top: 3em;
  background-color: lightslategray;
}
.derecho{
  display: inline-block;
  position: fixed;
  right: 0px;
  top: 0px;
  height:100%;
  width: 20%;
  padding-top: 3em;
  background-color:lightslategray;
}
.asiduo{
    margin-top: 2em;
    padding-top: 1em;
}
.caracol{
    width: 500px;
}
.visu{
    margin-bottom: 1em;
}
footer{
    
    display: inline-block;
    left: 20%;
    right: 20%;
    bottom: 0cm;
   position:fixed;
    width:60%;
    height: 2em;
    margin-right:1.5em;
    padding-bottom:1em;
    background-color: rgb(177, 134, 70);
}
.piesito{
    margin-right:2em;
    text-align:right;
    font-size:16px;
    color:lightgoldenrodyellow;
    font-weight:100;
}

